
.feature_plot.figure{
    float:left;
}

.feature_complexity_range_filter.container{
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #EAEAEA;
}

.feature_complexity_range_filter.minRange{
    margin-bottom: 20px;
}

.feature_complexity_range_filter.minRange > select{
    margin-left: 10px;
}

.feature_complexity_range_filter.maxRange > select{
    margin-left: 10px;
}

.feature_plot.venn_diagram{
    float:left;
    background-color:#E7E7E7;
    height:350px;
    width: 320px;
    margin-left: 50px;
    margin-top: 15px;
    padding:15px;
    
}

.feature_plot.venn_daigram > div{
    font-family:sans-serif;
    margin-left: 3px;
    font-size: 18px;
    width:100%;
}




