
.feature_plot.figure{
  float:left;
}

#feature_space_display_options_container{
  float: left;
  width: 100%;
  height: 7vh;
  border-bottom: solid;
  border-width: 1px;
  margin-bottom: 3vh;
}

.feature_space.interaction.container{
  float: left;
  width: 20%; 
}

.feature_space.interaction.textbox{
  float: left;
  width: 60%;
  font-size: 1.7vh;
  margin-top: 1vh;
}

.feature_space.interaction.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  width: 2.8vw;
  height: 3vh;
  display: inline-block;
  position: relative;
  border-radius: 3vh;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.feature_space.interaction.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 1.5vw;
  height: 2.6vh;
  background: #fff;
  left: 0.05vw;
  top: 0.2vh;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -32px;
  word-spacing: 45px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.feature_space.interaction.toggle:checked {
  background-color: #4CD964;
  /*background-color: #E36E00;*/
}

.feature_space.interaction.toggle:checked:before {
  left: 1.25vw;
}

.feature_space.interaction.complexityFilter.minRange > select{
    margin-left: 0px;
    margin-top: 0.7vh;
}

.feature_space.interaction.complexityFilter.maxRange > select{
    margin-left: 0px;
    margin-top: 0.7vh;
}

.feature_space.interaction.restoreButton.button{
    width: 80%;
    height: 4vh;
    font-size: 1.5vh;
}

.feature_plot.venn_diagram {
    float:left;
    background-color:#E7E7E7;
    height: 23vh;
    width: 15vw;
    margin-left: 3vw;
    margin-top: 0vh;
    padding: 0.9vh;
}

.feature_plot.venn_diagram > div {
    margin-left: 0.5vw;
    font-size: 1.6vh;
    width: 100%;
}




