/* 
    Created on : Jan 18, 2017, 1:19:18 PM
    Author     : bang
*/


/*

#view3 g
    div #dfplot_div
        svg $dfplot_svg
            g .x.axis.dfplot
            g .y.axis.dfplot
            svg .objects.dfplot
                circle .dot.dfplot
                g #tooltip_g
                    rect #tooltip_rect
                    foreignObject #tooltip_foreignObject
                    
    div #dfplot_venn_diagram
        
    

*/


#dfplot_div{
    float:left;
}


#dfplot_venn_diagram{
    float:left;
    background-color:#E7E7E7;
    height:350px;
    width: 340px;
    margin-left: 50px;
    margin-top: 15px;
    padding:15px;
    
}

#dfplot_venn_diagram div{
    font-family:sans-serif;
    margin-left: 3px;
    font-size: 18px;
    width:100%;
}




