
#experiment_prompt_div{
    width:1400px;
    float:left;
    margin-left: 300px;
    background-color: #C5EEFF;
    border-radius: 25px;
    opacity:0.9;
    padding:25px;
}

#experiment_prompt_div > div{
    float:left;
    width:100%;
}

#experiment_prompt{
    width:1100px;
    float:left;
}

#promt_body_text_1{
    font-size:22px;
}

#arrow_div{
    margin-top: 30px;
}

#task_number{
    font-size:12px;
    margin:0 48%;
}

#prompt_page_number{
    float:left;
    width:100%;
    margin-top:15px;
}

#prompt_page_number > div{
    margin:auto;
    width:50px;
    font-size: 19px;
}


#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: left;
    font-size: 30px;
    margin-top: 5px;
    float:right;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #E2E2E2;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #787878;
    display: inline-block;
}


#arrow_div > img, #arrow_div > button{
    float:left;
    margin-left: 4px;
    margin-right: 4px;
}


.introjs_tooltip_small{
    font-size:  22px;
    max-width: 300px;
    min-width: 300px;
}

.introjs_tooltip{
    font-size:  22px;
    max-width: 500px;
    min-width: 500px;
}

.introjs_tooltip_large{
    font-size:  22px;
    max-width: 700px;
    min-width: 700px;
}