/** Add css rules here for your application. */


.introjs_tooltip_small{
    font-size:  2.2vh;
    max-width: 30vw;
    min-width: 30vw;
}

.introjs_tooltip{
    font-size:  2.2vh;
    max-width: 35vw;
    min-width: 30vw;
}

.introjs_tooltip_large{
    font-size:  2.2vh;
    max-width: 41vw;
    min-width: 36vw;
}

.introjs_tooltip_extra_large{
    font-size:  2.2vh;
    max-width: 48vw;
    min-width: 43vw;
}

/* Table CSS setting for tutorial */
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:1.8vh;padding:1.0vh;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:1.8vh;font-weight:normal;padding:1.0vh;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
/* Candidate orbits */
.tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
/* Candidate instruments */
.tg .tg-r87d{background-color:#c0c0c0;border-color:#000000;text-align:left}
.tg .tg-s268{text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}

