
#feature_expression_panel{
    float:left;
    width:620px;
    height:160px;
    padding:20px;
}

#feature_expression_panel > div > div{
    height:30px; 
    float:left;
    width:620px;
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 20px;
}

#feature_expression{
    float:left;
    margin-top:3px;
    margin-bottom: 3px;
    
    width:100%;
    height:125px;
    
    overflow:scroll;
    
    font-size:19px
}

#feature_application_panel{
    float:left;
    width:100%;
}


#feature_application{
    float:left;
    margin-top: 10px;   
    width:1120px;
    height:800px;
    padding:20px;
    overflow:scroll;
    
}

.feature_application_options_button{
    float:left;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 20px;
}



.img-hor-vert {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.img-rot-90-deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.img-rot-270-deg {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
