

#content {
    display: grid;
    grid-template-columns: [c1] 54% [c2] 44% [c3];
    grid-template-rows: [r1] 3vh [r2] 47vh [r3] 46vh [r4];
    grid-column-gap: 10px;
    /*grid-template-columns: 100px 50px 100px;*/
    grid-row-gap: 12px;
}

#status_display_bar{
    grid-column: c1 / c3;
    grid-row: r1 / r2;
}

#tradespace_plot_container{
    grid-column: c1 / c2;
    grid-row: r2 / r3;
}

#support_panel{
    grid-column: c1 / c2;
    grid-row: r3 / r4;
}

#feature_interactive_panel{
    grid-column: c2 / c3;
    grid-row: r2 / r4;
}

/* --- Experiment - design synthesis task ---*/
#variable_options_panel{  
    grid-column: c2 / c3;
    grid-row: r3 / r4;
}
/*------------------------------------------*/

#status_display_bar > div{
    float:left;
    width: 23%;
    height: 100%;
}

.status_display.key {
    font-size: 1.1vw; 
    margin-left: 1vw;
    margin-top: 0.3vw;
    float:left;
}

.status_display.value {
    width: 25%;
    /*text-align: center;*/
    margin-left: 1vw;
    font-size: 1.1vw; 
    height: 100%;
    padding: 0.5vh;
    float:left;
    background-color: #D5D5D5;
}

.tradespace_plot.figure{
    position: relative;
    border-style:solid;
    border-width:1.7px;
    width: 100%;
    height: 100%;
    margin:0 0 0 0;
}

#support_panel{
    width: 100%;
    border-style:solid;
    border-width: 1px;
    height: 100%;
    margin-left: 1px;
    overflow-y:scroll;
}

#feature_interactive_panel{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}

.tradespace_plot.axisLabel{
    font-size: 0.9vw;
}


.tradespace_plot.axis > .tick{
    font-size: 0.8vw;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-width: 0;
}

#arch_info_display_outputs{
    width: 70%;
    height: 6vh;
    float: left;
    margin-bottom: 3vh;
}

#arch_info_display_outputs > p {
    font-size: 2.0vh;
}

#arch_info_display_table_div{
    float:left;
    width: 100%;
}

.arch_info_display_cell:not(.header){
    border: 1px solid black;
    padding: 0.6vh;
    vertical-align: central;
}

.arch_info_display_cell.instrument:hover{
    background-color: #EEEEEE;
}








#variable_options_panel{
    width: 46%;
    height: 90%;
    background-color: #E6E6E6;
    position: relative;
}

/*#instr_options_display{
    float:left;
    width:360px;
    margin-left: 0%;
    margin-top: 510px;
    margin-bottom: 10px;
    background-color: #E6E6E6;
    padding:20px;
}*/

#variable_options_panel > p {
    width: 80%;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2.4vh
    font-weight: bold;
    float: left;
}

#instr_options_table{
    width: 0px;
    float: left;
    margin-top: 0vh;
    margin-left: 1vh;
    border-spacing: 1.1vh;
    table-layout: fixed;
}

.arch_info_display_cell.candidates{
    font-size: 1.4vh;
}

#instr_options_trash{
    float:left;
    margin-left: 2vh;
    margin-top: 1.6vh;
    width: 0px;
    height: 8vh;
    background-color: #FF8B8B;
}

#instr_options_trash > p {
    margin: auto;
    padding: 2vh;
    font-size: 2vh;
    font-weight: bold;
}

#evaluate_architecture_button{
    float: left;
    font-size: 2vh;
}











/* Tooltip container */
/*.tooltip { 
    position: relative;
} 
*/

/* Tooltip text */
/*.tooltip.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #DCC5C1;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/