.title{
    width:100%;
    margin-top:15px;
    margin-bottom:20px;
    text-align:center;
    float:left;
}

.title > h2{
    width:250px;
    margin:auto;
    font-size:14px;
}

.content{
    width:2320px; 
    height:1300px; 
    float:left;
}

#status_display{
    float:left;
    width:100%;
    height:30px;
    margin-top:55px;
    margin-bottom:10px;
}

#status_display > div{
    float:left;
    width:270px;
    height:25px;
}

#status_display > div :first-child{
    
    font-size:18px; 
    line-height:25px;
    height: 25px; 
    float:left;
    margin-left: 1px;
}

#status_display > div :last-child{
    
    width:50px;
    text-align: center;
    line-height:25px;
    margin-left:3px;
    font-size:18px; 
    height: 25px; 
    float:left;
    background-color: #D5D5D5;
    
}


.column.c1{
    float:left;
    width:1240px;
    height:1000px;      
}

.row.c1.r1{
    width:1240px;
    height:540px;
    float:left;
    margin-bottom:15px;
}

.tradespace_plot.figure{
    border-style:solid;
    border-width:3.3px;
    width:1160px;
    height:540px;
    margin:0 0 0 0;
    float:left;
    position: relative;
}

.tradespace_plot.options{
    float:left;
    margin-left:10px;
    width:240px;
    height:540px;
    border:1px black double;
}

.tradespace_plot.options > div{
    width:200px;
    margin:auto;
}

#plot_options{
    margin-top: 40px;
}

#plot_options > div{
    margin-top: 7px;
}

#interaction_modes{
    margin-top:20px;
    background: #D2D2D2;
    padding:10px;
}

#selection_options{
    margin-top:20px;
}

#selection_options > button{
    width:180px;
    margin-top: 10px;
    margin-left: 5px;
}


.row.c1.r2{
    float:left;
    width:1240px;
}

.row.c1.r2 > div{
    width:1212px;
    float:left;
    border-style:solid;
    border-width:1ps;
    font-weight:300;
    min-height:480px;
    overflow-y:scroll;
}

.column.c2{
    width:1060px;
    height:1040px;
    float:left;
}

.column.c2 > div{
    width:100%;
    height:1040px;
    border-style:solid;
    border-width:1px;
    float:left;
}

#arch_info_display_outputs{
    width:100%;
    height:120px;
    float:left;
    margin-bottom: 5px;
}

#run_design_local_search{
    float:left;
    font-size:18px;
    margin-right: 660px;
    margin-bottom: 10px;
}

#evaluate_architecture_button{
    float:left;
    font-size:18px;
}


#arch_info_display_table_div{
    float:left;
    width:70%;
}

.arch_info_display_cell{
    border: 1px solid black;
    padding: 10px;
    vertical-align: central;
    font-size:15px;
}

.arch_info_display_cell.instrument:hover{
    background-color: #EEEEEE;
}


#instr_options_display{
    float:right;
    width:220px;
    margin-right: 5%;
    margin-top: 0%;
    background-color: #E6E6E6;
    padding:20px;
}

#instr_options_table{
    width:200px;
    border-spacing: 10px;
}

#instr_options_trash{
    width:180px;
    margin-left:10px;
    height:70px;
    background-color: #FF8B8B;
}



.axis path,
.axis line {
    
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-width: 0;
}


/* Tooltip container */
.tooltip { 
    position: relative;
} 

/* Tooltip text */
.tooltip.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #DCC5C1;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}